*,html,body {
  margin: 0;
  padding: 0;
}
#normal {
    background-color: blueviolet;
  }
  #hard{
    background-color: red;
  }

.modalBackground {
    width: 100vw;
    height: 100vh;
    background-color: rgba(200, 200, 200);
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modalContainer {
    width: 45vw;
    height: 45vh;
    border-radius: 12px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    padding: 10px;
  }
  
  .modalContainer .title {
    display: inline-block;
    color: blue;
    text-align: center;
    margin-top: 3px;
  }
  
  .modalContainer .body {
    justify-content: center;
    align-items: center;
    font-size: 1.7rem;
    text-align: center;
  }
  
  
  .modalContainer .body button {
    width: 30vw;
    height: 6vh;
    margin: 5px;
    border: none;
    background-color: cornflowerblue;
    color: white;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
  }
  
  
  