*,
html,
body {
  margin: 0;
  padding: 0;
}
.modalBackground {
  width: 100%;
  height: 100%;
  padding: 3rem;
}

.modalContainer {
  width: 90%;
  height: 90%;
  border-radius: 12px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
}

.modalContainer .title {
  display: inline-block;
  text-align: center;
  margin-top: 1rem;
  font-size: 2rem;
}

.modalContainer .body {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  text-align: center;
}
.modalContainer .footer {
  flex: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContainer .footer button {
  width: 30%;
  height: 30%;
  margin: 5px;
  border: none;
  background-color: cornflowerblue;
  color: white;
  border-radius: 5px;
  font-size: 13px;
  cursor: pointer;
}

#cancelBtn {
  background-color: crimson;
}
