/*  Base style */
.App {
    font-family: sans-serif;
    text-align: center;
  }

body{
  margin: 0 !important;
  padding: 0 !important;
  height: inherit;
  width: inherit;
  background-color: rgba(0,0,0,0) !important;
  min-height: 100% !important;
}

html{
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

#root{
  height: inherit;
  width: inherit;
}

/*  Component style */
#site{
  height: inherit;
  width: inherit;
  background-color: white;
}

#content{
  height: inherit;
  width: inherit;
}

.PageContent{
  
  width: inherit;
  overflow-x: hidden;
}

.offcanvas{
  color: black !important;
}

::-webkit-scrollbar {
  width: 1px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(89, 88, 88); 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(40, 40, 40); 
}




  